
body {
    font-family: 'Share Tech Mono', monospace;
}
.title {
    font-size: 400%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.noBots {
    background: #a9a9a9;
    color: #000000;
    width: 50%;
    height: auto;
    border-radius: 10px;
    text-align: center;
}
.message {
    display: inline-block;
    padding: 2%;
}
.message i {
    font-size: 400%;
}

th {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.table {
    margin-top: 5%;
}
